# 3. Python Data Structures - Using `dicts` and `lists`

In [1]:
shoppers = [1, 12, 39, 23, 12, 13, 15]

In [2]:
shoppers

[1, 12, 39, 23, 12, 13, 15]

In [3]:
shoppers[0]

1

In [4]:
if shoppers[0] < 10:
    print("Chocolate")
elif shoppers[0] < 20:
    print("Umbrella")
elif shoppers[0] < 30:
    print("Small Bike")
else:
    print("Big Bike")

Chocolate

In [5]:
if shoppers[1] < 10:
    print("Chocolate")
elif shoppers[1] < 20:
    print("Umbrella")
elif shoppers[1] < 30:
    print("Small Bike")
else:
    print("Big Bike")

Umbrella

In [6]:
for price in shoppers:
    if price < 10:
        print("Chocolate")
    elif price < 20:
        print("Umbrella")
    elif price < 30:
        print("Small Bike")
    else:
        print("Big Bike")

Chocolate
Umbrella
Big Bike
Small Bike
Umbrella
Umbrella
Umbrella

In [ ]:
gifts = {1: "Chocolate",
         2: "Chocolate",
         3: "Chocolate",
         ...
         10: "Umbrella",
         11: "Umbrella",
         
         }

In [8]:
int(shoppers[0]/10)

0

In [9]:
int(23/10)

2

In [10]:
int(31/10)

3

In [12]:
gifts = {0: "Chocolate",
         1: "Umbrella",
         2: "Small Bike",
         3: "Big Bike",
         4: "Big Bike"}

In [15]:
gifts[4]

'Big Bike'

In [16]:
for price in shoppers:
    p = int(price/10)
    print(gifts[p])

Chocolate
Umbrella
Big Bike
Small Bike
Umbrella
Umbrella
Umbrella

In [17]:
gifts_list = ["Chocolate", "Umbrella", "Small Bike", "Big Bike", "Big Bike"]

In [18]:
for price in shoppers:
    p = int(price/10)
    print(gifts_list[p])

Chocolate
Umbrella
Big Bike
Small Bike
Umbrella
Umbrella
Umbrella

Passing functions as values to a `dict`

In [19]:
def gift_chocolate():
    print("Chocolate")

In [20]:
gift_chocolate()

Chocolate

In [21]:
def gift_umbrella():
    print("Umbrella")
    
def gift_small_bike():
    print("Small Bike")
    
def gift_big_bike():
    print("DELIVER BIG BIKE")

In [23]:
gifts_2 = {0: gift_chocolate(),
           1: gift_umbrella(),
           2: gift_small_bike(),
           3: gift_big_bike(),
           4: gift_big_bike()}

Chocolate
Umbrella
Small Bike
DELIVER BIG BIKE
DELIVER BIG BIKE

In [24]:
gifts_2

{0: None, 1: None, 2: None, 3: None, 4: None}

In [25]:
gifts_3 = {0: gift_chocolate,
           1: gift_umbrella,
           2: gift_small_bike,
           3: gift_big_bike,
           4: gift_big_bike}

In [26]:
gifts_3

{0: <function __main__.gift_chocolate()>,
 1: <function __main__.gift_umbrella()>,
 2: <function __main__.gift_small_bike()>,
 3: <function __main__.gift_big_bike()>,
 4: <function __main__.gift_big_bike()>}

In [28]:
gifts_3[0]()

Chocolate

In [30]:
for price in shoppers:
    p = int(price/10)
    gifts_3[p]()

Chocolate
Umbrella
DELIVER BIG BIKE
Small Bike
Umbrella
Umbrella
Umbrella

## Using `dict`s to keep score

In [36]:
text = "Fischers Fritz fischt frische Fische" # I'm a comment

In [37]:
# remove case sensitivity
text = text.lower()

In [ ]:
# 1. create empty dictionary
# 2. iterate over each letter in text
# 3.1 if letter does not exist in dictionary, add it as a new key and set the value to 1
# 3.2 if letter does exists in dictionary, incement value of it's corresponding key by 1

In [63]:
# 1. create empty dictionary
letter_occurences = {}

# 2. iterate over each letter in text
for letter in text:
    # 3.1 if letter does not exist in dictionary, add it as a new key and set the value to 1
    if letter not in letter_occurences:
        letter_occurences[letter] = 1
    # 3.2 if letter does exists in dictionary, incement value of it's corresponding key by 1
    else:
        # letter_occurences[letter] = letter_occurences[letter] + 1
        letter_occurences[letter] += 1

In [60]:
# Alternative

# 1. create empty dictionary
letter_occurences = {}

# 2. iterate over each letter in text
for letter in text:
    # 3.1 if letter does not exist in dictionary, add it as a new key and set the value to 1
    # 3.2 if letter does exists in dictionary, incement value of it's corresponding key by 1
    letter_occurences[letter] = letter_occurences.get(letter, 0) + 1

In [64]:
letter_occurences

{'f': 5,
 'i': 5,
 's': 5,
 'c': 4,
 'h': 4,
 'e': 3,
 'r': 3,
 ' ': 4,
 't': 2,
 'z': 1}

In [57]:
letter_occurences["h"]

4

## Handling `list`s of `dict`s


#### Sidetrack: String interpolation

In [65]:
name = "Liz"

In [67]:
"My name is " + name

'My name is Liz'

In [68]:
print(f"My name is {name}")

My name is Liz

In [69]:
print(f"My name is {name.lower()}")

My name is liz

In [71]:
print(f"My name is {name * 5}")

My name is LizLizLizLizLiz

In [74]:
print(f"{name} plus {name + name}")

Liz plus LizLiz

----

In [82]:
fruits = [
    {"name": "Liz",
     "fruit": "Apple",
     "quantity": 6},
    {"name": "Mano",
     "fruit": "Orange",
     "quantity": 10},
    {"name": "Jan",
     "fruit": "Grapefruit",
     "quantity": 1}]

In [83]:
fruits

[{'name': 'Liz', 'fruit': 'Apple', 'quantity': 6},
 {'name': 'Mano', 'fruit': 'Orange', 'quantity': 10},
 {'name': 'Jan', 'fruit': 'Grapefruit', 'quantity': 1}]

In [84]:
for purchase in fruits:
    # print a sentence for each purchase like this: "{some shopper} has purchased {n} {fruits}"
    print(f"{purchase['name']}")

Liz
Mano
Jan

In [85]:
for purchase in fruits:
    # print a sentence for each purchase like this: "{some shopper} has purchased {n} {fruits}"
    print(f"{purchase['name']} has purchased {purchase['quantity']} {purchase['fruit']}")

Liz has purchased 6 Apple
Mano has purchased 10 Orange
Jan has purchased 1 Grapefruit

In [86]:
for purchase in fruits:
    # print a sentence for each purchase like this: "{some shopper} has purchased {n} {fruits}"
    print(f"{purchase['name']} has purchased {purchase['quantity']} {purchase['fruit']}")

Liz has purchased 6 Apple
Mano has purchased 10 Orange
Jan has purchased 1 Grapefruit

Introducing the ternary operator

In [87]:
if 1 == 1:
    print(True)

True

In [88]:
print(True if 1 == 1 else False)

True

In [90]:
for purchase in fruits:
    # print a sentence for each purchase like this: "{some shopper} has purchased {n} {fruits}"
    print(f"{purchase['name']} has purchased {purchase['quantity']} {purchase['fruit'] if purchase['quantity'] == 1 else purchase['fruit']+'s'}")

Liz has purchased 6 Apples
Mano has purchased 10 Oranges
Jan has purchased 1 Grapefruit