In [13]:
import pandas as pd
import numpy as np
import re

pd.set_option("display.max_rows", 1538)

In [6]:
df = pd.read_csv("data/GSAF5.csv", encoding = "ISO-8859-1")

In [7]:
df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN

In [15]:
df["Species "].value_counts().sort_values(ascending=False)

                                                                                                                                                                                      1
Remains recovered 5 days later                                                                                                                                                                            1
Lemon shark, 2 m [6'9"]                                                                                                                                                                                   1
1.2 m [4'] shark (spinner shark?)                                                                                                                                                                         1
Small dusky shark or blackfin shark                                                                                                                                                                       1
>2.4 m [8'] shark                                                                                                                                                                                         1
Tiger shark, 2.7 m [9'5"], 364-lb                                                                                                                                                                         1
White shark, 3.7 m [12'], 500 to 500-kg [1,200 lb], identified by W. C. Shroeder based on tooth fragment ebedded in gunwale                                                                               1
2.1 m [7'] lemon shark or bull shark                                                                                                                                                                      1
4.4 m [14'] shark                                                                                                                                                                                         1
possibly a porbeagle shark                                                                                                                                                                                1
80 kg shark                                                                                                                                                                                               1
Bull shark, 10'                                                                                                                                                                                           1
Grey reef shark, 5' to 8'                                                                                                                                                                                 1
3.5' hammerhead shark                                                                                                                                                                                     1
2.1 m to 2.4 m  [7' to 8'] shark                                                                                                                                                                          1
Nurse shark, 0.94 m to 1.2 m [3' to 4']                                                                                                                                                                   1
2 sharks involved                                                                                                                                                                                         1
Leopard shark                                                                                                                                                                                             1
5 m to 7 m white shark                                                                                                                                                                                    1
juvenile white shark                                                                                                                                                                                      1
3 to 3.5 m [10' to 11.5'] bull shark                                                                                                                                                                      1
White shark, 3.5 m to 4 m [11.5' to 13']                                                                                                                                                                  1
1.8 m to 2.4 m  [6' to 8'] shark                                                                                                                                                                          1
small sharks'                                                                                                                                                                                             1
White shark tooth fragment recovered from ankle & identified by Dr. W. I. Follett                                                                                                                         1
Small bull shark                                                                                                                                                                                          1
Raggedtooth shark, 2.7 m [9']                                                                                                                                                                             1
4 to 5m white shark                                                                                                                                                                                       1
White shark, 12', identity confirmed by tooth fragment, witness and photograph of captured shark                                                                                                          1
White shark, 4.3 m [14']                                                                                                                                                                                  1
Possibly a small blacktip shark                                                                                                                                                                           1
Shark involvement not confirmed, injury may be due to a stingray                                                                                                                                          1
White shark, 13'                                                                                                                                                                                          1
a school of sharks                                                                                                                                                                                        1
1.4 m [4.5'] shark                                                                                                                                                                                        1
1.8 m [6'] reef shark - or a 2.1 m to 2.4 m [7' to 8'] grey-colored shark                                                                                                                                 1
16' 800-lb shark                                                                                                                                                                                          1
Species unknown, possibly a white shark                                                                                                                                                                   1
White shark, 2m                                                                                                                                                                                           1
White shark, 246-kg                                                                                                                                                                                       1
6 m, 600-kg shark                                                                                                                                                                                         1
2.27 m shark                                                                                                                                                                                              1
Grey reef shark, 2 m                                                                                                                                                                                      1
White shark, 12' to 15'                                                                                                                                                                                   1
Bronze whaler shark, 2.5 m [8.25']  k                                                                                                                                                                     1
White shark, 6 m                                                                                                                                                                                          1
"a young shark"                                                                                                                                                                                           1
Lemon shark, 0.5 m                                                                                                                                                                                        1
Grey nurse shark, 1.8 m [6']                                                                                                                                                                              1
Sandtiger shark, 8'                                                                                                                                                                                       1
Shark involvement in his death uncofirmed                                                                                                                                                                 1
100-lb shark                                                                                                                                                                                              1
Bronze whaler shark,4 m [13']                                                                                                                                                                             1
Thresher shark, 3.7 m [12']                                                                                                                                                                               1
4.5 m to 5.5m white shark                                                                                                                                                                                 1
4.9 m to 5.5 m [16' to 18'] white shark                                                                                                                                                                   1
sandtiger shark                                                                                                                                                                                           1
 white shark, 15'                                                                                                                                                                                         1
Thought to involve a 2.7 m [9'], 400-lb bull shark                                                                                                                                                        1
Broadnose sevengill shark                                                                                                                                                                                 1
4.5 m [14'9"] white shark                                                                                                                                                                                 1
1 m  shark                                                                                                                                                                                                1
14' to 18'shark                                                                                                                                                                                           1
Tiger shark, 4.6 m to 7.6 m [15' to 25']                                                                                                                                                                  1
Shortfin mako shark                                                                                                                                                                                       1
7' to 8' shark                                                                                                                                                                                            1
Tiger shark, 10?                                                                                                                                                                                          1
said to involve a tiger shark                                                                                                                                                                             1
"a blue shark"                                                                                                                                                                                            1
White shark, 7'                                                                                                                                                                                           1
Raggedtooth shark, 1.5 m                                                                                                                                                                                  1
440-lb shark                                                                                                                                                                                              1
Mako shark, 3 m [10'], 200-kg [441-lb]                                                                                                                                                                    1
Lemon shark, 2.5m to 3m                                                                                                                                                                                   1
6' blacktip shark                                                                                                                                                                                         1
a small reef shark                                                                                                                                                                                        1
Tiger shark, 13'                                                                                                                                                                                          1
Wobbegong                                                                                                                                                                                                 1
4.3 m [14'] shark seen in vicinity                                                                                                                                                                        1
170-kg, 2.8 m shark                                                                                                                                                                                       1
Bronze whaler shark, 4'                                                                                                                                                                                   1
1.8 metre shark                                                                                                                                                                                           1
White shark, 6.5 m                                                                                                                                                                                        1
Bronze whaler shark, 3.5 m                                                                                                                                                                                1
Blacktip shark, 1.2 m to 1.8 m [4' to 6']                                                                                                                                                                 1
4.9 m white shark                                                                                                                                                                                         1
"gray shark"                                                                                                                                                                                              1
Reported to involve a bull shark                                                                                                                                                                          1
650-lb shark                                                                                                                                                                                              1
Small shark with white-tipped dorsal fin                                                                                                                                                                  1
1.8 m [6'] shark, species identity questionable                                                                                                                                                           1
Bronze whaler shark, 3 m                                                                                                                                                                                  1
Bronze whaler shark,3.7 m [12']                                                                                                                                                                           1
Tiger shark, 8' to 12'                                                                                                                                                                                    1
Tiger shark, 2.5 m                                                                                                                                                                                        1
4 m [13'] shark seen in vicinity                                                                                                                                                                          1
White shark, 6 m [20']                                                                                                                                                                                    1
Name: Species , dtype: int64

In [4]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [5]:
df.shape

(5992, 24)

# Clean `Date` column

In [6]:
# I'm creating a function that can be applied to an entire column of a DataFrame. In this case, it is necessary to 'catch' the 
# exception (error) so that the function runs, as errors breaks the code. The function intentionally return a boolean so that
# it can be used for subestting DataFrames.
# You can catch exceptions using a so-called 'try except block' as shown here:

def test_to_datetime(ts):
    try:
        pd.to_datetime(ts, infer_datetime_format=True)
    except ValueError:
        return False
    return True

In [7]:
np.isnat(np.datetime64('NaT'))

True

In [8]:
test_to_datetime("16-Sep-16")

True

In [9]:
# We can now use our function on every record in a column using the .apply() method on a Series like so:
df[df["Date"].apply(test_to_datetime) == False].shape

(857, 24)

In [10]:
df[df["Date"].apply(test_to_datetime) == False].head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
33,2016.07.14.4,Reported 14-Jul-2016,2016,Unprovoked,BAHAMAS,NaN,Tiger Beach,Scuba Diving,Michael Dornellas,M,...,"Lemon shark, 9'","GrindTV, 7/14/2016",2016.07.14.R-TigerBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.07.14.R,2016.07.14.4,5960,NaN,NaN
34,2016.07.08.R,Reported 08-Jul-2016,2016,Unprovoked,SPAIN,Canary Islands,"Las Teresitas, Tenerife",Wading,female,F,...,Angel shark,La Opinion de Tenerife,2016.07.08.R-Spain.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.07.08.R,2016.07.08.R,5959,NaN,NaN
85,2016.03.03.R,Reported 03-Mar-2016,2016,Unprovoked,AUSTRALIA,South Australia,Wrights Bay,Fishing,Lee Taplin,M,...,Bronze whaler,"9 News, 3/1/2016",2016.03.03.R-Taplin.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.03.03.R,2016.03.03.R,5908,NaN,NaN
90,2016.02.10.R,Reported 10-Feb-2016,2016,Invalid,CAYMAN ISLANDS,Grand Cayman,Stingray City Bar,Feeding stingrays?,Richard Branson,M,...,No shark involvement,R. Branson,2016.02.10.R-Branson-stingray.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.02.10.R,2016.02.10.R,5903,NaN,NaN
100,2016.01.11.R,Reported 11-Jan-2016,2016,Unprovoked,AUSTRALIA,Queensland,"Happy Valley Beach, Caloundra",Surfing,Shane Hilder,M,...,Wobbegong shark,"ABC Sunshine Coast, 1/11/2016",2016.01.11.R-Hilder.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.01.11.R,2016.01.11.R,5893,NaN,NaN

See if we can infer date from "Case Number" field

Looks like `Case Number` could be used to get the date

In [11]:
(df["Case Number"]
 .str.replace("-", ".")
 .str.replace(",", ".")
 .str.extract(r"(^\d{4}\.\d{2}.\d{2})", expand=False)
 .apply(test_to_datetime)
 .value_counts())

True     5256
False     736
Name: Case Number, dtype: int64

We can infer another 5256 records using the `pd.to_datetime()` function when using `Case number` and adding a few manipulations!

In [12]:
df_ncasen = (df[df["Case Number"]
                .str.replace("-", ".")
                .str.replace(",", ".")
                .str.extract(r"(^\d{4}\.\d{2}.\d{2})", expand=False)
                .apply(test_to_datetime) == False])

In [13]:
df_ncasen_nzero = df_ncasen[(df_ncasen["Case Number"]
                             .str.extract(r"(^\d{4}\.\d{2}.\d{2})", expand=False)
                             .str.replace(r"(00$)", "01")
                             .str.replace(r"\.00\.", ".01.")).apply(test_to_datetime) == False]

In [14]:
df_ncasen_nzero.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
5855,1642.00.00.b,Late 1600s Reported 1728,1642,Invalid,GUINEA,NaN,NaN,Went overboard,crew member of the Nieuwstadt,M,...,NaN,"History of the Pyrates, by D. Defoe, Vol. 2, p.28",1642.00.00.b-Nieuwstadt.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1642.00.00.b,1642.00.00.b,138,NaN,NaN
5856,1638.00.00.R,Reported 1638,1638,Unprovoked,NaN,NaN,NaN,NaN,sailors,M,...,NaN,Sir Thomas Herbert,1638.00.00.R-Herbert,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1638.00.00.R,1638.00.00.R,137,NaN,NaN
5857,1637.00.00.R,Reported 1637,1637,Unprovoked,INDIA,West Bengal,Hooghly River mouth,Wading,Hindu pilgrims,NaN,...,NaN,"H. Edwards, p.31, citing Sebastian Manrique",1637.00.00.R-Manrique.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1637.00.00.R,1637.00.00.R,136,NaN,NaN
5858,1617.00.00.R,Reported 1617,1617,Unprovoked,INDIA,West Bengal,Ganges Delta,NaN,Indian people,NaN,...,NaN,"H. Edwards, p.31, citing Samuel Purchas",1617.00.00-Purchas.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1617.00.00.R,1617.00.00.R,135,NaN,NaN
5859,1642.00.00,1642,1642,Unprovoked,USA,New York,Between Manhattan and The Bronx,Swimming,Antony Van Corlear,M,...,NaN,"Knickerbocker's History of New York, by Washin...",1642.00.00-Corlear.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1642.00.00,1642.00.00,134,NaN,NaN

For the remaining ones, we do not care about dates before 1642.
Let's go through each steps to create a clean date column

In [15]:
df.assign(new_date=np.nan)
df["new_date"] = pd.to_datetime(df[df["Date"].apply(test_to_datetime)]["Date"])

In [16]:
def infer_from_case_number(case_number):
    try:
        return pd.to_datetime(case_number, infer_datetime_format=True)
    except:
        return np.nan

In [17]:
df.loc[df["Date"].apply(test_to_datetime) == False, "new_date"] = (df[df["Date"].apply(test_to_datetime) == False]["Case Number"]
                                                                   .str.replace("-", ".")
                                                                   .str.replace(",", ".")
                                                                   .str.extract(r"(^\d{4}\.\d{2}.\d{2})", expand=False)
                                                                   .str.replace(r"(00$)", "01")
                                                                   .str.replace(r"\.00\.", ".01.")).apply(infer_from_case_number)

In [18]:
df["new_date"].isnull().value_counts()

False    5855
True      137
Name: new_date, dtype: int64

In [19]:
df[df["new_date"].isnull()].head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23,new_date
5855,1642.00.00.b,Late 1600s Reported 1728,1642,Invalid,GUINEA,NaN,NaN,Went overboard,crew member of the Nieuwstadt,M,...,"History of the Pyrates, by D. Defoe, Vol. 2, p.28",1642.00.00.b-Nieuwstadt.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1642.00.00.b,1642.00.00.b,138,NaN,NaN,NaT
5856,1638.00.00.R,Reported 1638,1638,Unprovoked,NaN,NaN,NaN,NaN,sailors,M,...,Sir Thomas Herbert,1638.00.00.R-Herbert,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1638.00.00.R,1638.00.00.R,137,NaN,NaN,NaT
5857,1637.00.00.R,Reported 1637,1637,Unprovoked,INDIA,West Bengal,Hooghly River mouth,Wading,Hindu pilgrims,NaN,...,"H. Edwards, p.31, citing Sebastian Manrique",1637.00.00.R-Manrique.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1637.00.00.R,1637.00.00.R,136,NaN,NaN,NaT
5858,1617.00.00.R,Reported 1617,1617,Unprovoked,INDIA,West Bengal,Ganges Delta,NaN,Indian people,NaN,...,"H. Edwards, p.31, citing Samuel Purchas",1617.00.00-Purchas.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1617.00.00.R,1617.00.00.R,135,NaN,NaN,NaT
5859,1642.00.00,1642,1642,Unprovoked,USA,New York,Between Manhattan and The Bronx,Swimming,Antony Van Corlear,M,...,"Knickerbocker's History of New York, by Washin...",1642.00.00-Corlear.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1642.00.00,1642.00.00,134,NaN,NaN,NaT

Extract the first year if it finds one in the Date column

In [20]:
def get_first_element(l):
    return next(iter(l), np.nan)

In [21]:
def safe_to_datetime(date):
    try:
        return pd.to_datetime(date, infer_datetime_format=True)
    except:
        return np.nan

In [22]:
df.loc[df["new_date"].isnull(), "new_date"] = (df[df["new_date"].isnull()]["Date"]
                                             .str.findall(r"\d{4}")
                                             .apply(get_first_element)
                                             .astype(str)
                                             .apply(safe_to_datetime))

In [23]:
df = df.drop(df[df["new_date"].isnull()].index)

# Inspect the `Type` column

In [24]:
df["Type"].value_counts()

Unprovoked      4365
Provoked         557
Invalid          518
Sea Disaster     216
Boat             200
Boating          110
Name: Type, dtype: int64

In [25]:
df.loc[df["Type"] == "Boating", "Type"] = "Boat"

In [26]:
df["Type"].value_counts()

Unprovoked      4365
Provoked         557
Invalid          518
Boat             310
Sea Disaster     216
Name: Type, dtype: int64

# `Country`

In [27]:
df["Country"].value_counts().shape

(202,)

In [28]:
df["Country"].value_counts()

USA                               2114
AUSTRALIA                         1276
SOUTH AFRICA                       563
PAPUA NEW GUINEA                   131
NEW ZEALAND                        125
BRAZIL                             102
BAHAMAS                             98
MEXICO                              80
ITALY                               70
FIJI                                62
PHILIPPINES                         59
REUNION                             56
NEW CALEDONIA                       51
MOZAMBIQUE                          44
CUBA                                42
SPAIN                               40
EGYPT                               36
CROATIA                             34
INDIA                               34
PANAMA                              32
JAPAN                               32
IRAN                                29
SOLOMON ISLANDS                     29
HONG KONG                           24
JAMAICA                             23
GREECE                              22
FRENCH POLYNESIA                    22
INDONESIA                           20
ENGLAND                             19
PACIFIC OCEAN                       17
ATLANTIC OCEAN                      16
BERMUDA                             16
TONGA                               15
VIETNAM                             14
VANUATU                             14
MARSHALL ISLANDS                    13
SRI LANKA                           13
FRANCE                              12
COSTA RICA                          12
SOUTH ATLANTIC OCEAN                12
TURKEY                              12
IRAQ                                12
SENEGAL                             11
CANADA                              10
VENEZUELA                           10
KENYA                               10
NEW GUINEA                          10
UNITED KINGDOM                      10
TAIWAN                               9
COLUMBIA                             9
SOUTH KOREA                          8
CARIBBEAN SEA                        8
CHILE                                8
SCOTLAND                             8
SIERRA LEONE                         8
ECUADOR                              8
TANZANIA                             8
MADAGASCAR                           7
SEYCHELLES                           7
ISRAEL                               7
DOMINICAN REPUBLIC                   7
NORTH PACIFIC OCEAN                  7
SAMOA                                7
MAURITIUS                            7
YEMEN                                7
INDIAN OCEAN                         7
OKINAWA                              6
CHINA                                6
NEW BRITAIN                          6
KIRIBATI                             6
THAILAND                             6
NICARAGUA                            6
SINGAPORE                            6
SOMALIA                              6
MALTA                                5
AZORES                               5
PALAU                                5
MID ATLANTIC OCEAN                   5
SAUDI ARABIA                         5
TURKS & CAICOS                       5
LIBYA                                5
BARBADOS                             5
EL SALVADOR                          4
NORTH ATLANTIC OCEAN                 4
BURMA                                4
NIGERIA                              4
MALAYSIA                             4
SUDAN                                4
GRENADA                              4
RUSSIA                               4
PERSIAN GULF                         4
GUAM                                 4
BELIZE                               3
MONTENEGRO                           3
MICRONESIA                           3
HAITI                                3
CAPE VERDE                           3
LEBANON                              3
TRINIDAD & TOBAGO                    3
HONDURAS                             3
PORTUGAL                             3
Fiji                                 3
URUGUAY                              3
LIBERIA                              3
TUNISIA                              3
 TONGA                               3
AMERICAN SAMOA                       3
SOUTH PACIFIC OCEAN                  2
EGYPT                                2
YEMEN                                2
CENTRAL PACIFIC                      2
SOUTHWEST PACIFIC OCEAN              2
MEDITERRANEAN SEA                    2
PACIFIC OCEAN                        2
NAMIBIA                              2
JOHNSTON ISLAND                      2
NORWAY                               2
GUINEA                               2
UNITED ARAB EMIRATES (UAE)           2
CRETE                                2
CAYMAN ISLANDS                       2
BAHREIN                              1
FEDERATED STATES OF MICRONESIA       1
NORTH ATLANTIC OCEAN                 1
RED SEA                              1
CURACAO                              1
MID-PACIFC OCEAN                     1
UNITED ARAB EMIRATES                 1
ICELAND                              1
ST. MAARTIN                          1
ARGENTINA                            1
JAVA                                 1
BAY OF BENGAL                        1
IRAN / IRAQ                          1
SYRIA                                1
ITALY / CROATIA                      1
ARUBA                                1
ADMIRALTY ISLANDS                    1
EQUATORIAL GUINEA / CAMEROON         1
NETHERLANDS ANTILLES                 1
COOK ISLANDS                         1
ANTIGUA                              1
MARTINIQUE                           1
SLOVENIA                             1
IRELAND                              1
TUVALU                               1
NORTHERN ARABIAN SEA                 1
GEORGIA                              1
GHANA                                1
GUATEMALA                            1
PARAGUAY                             1
GREENLAND                            1
EGYPT / ISRAEL                       1
SUDAN?                               1
SOUTH CHINA SEA                      1
SOLOMON ISLANDS / VANUATU            1
KUWAIT                               1
BANGLADESH                           1
DJIBOUTI                             1
BRITISH WEST INDIES                  1
FALKLAND ISLANDS                     1
GRAND CAYMAN                         1
MALDIVE ISLANDS                      1
Seychelles                           1
ANDAMAN / NICOBAR ISLANDAS           1
BRITISH VIRGIN ISLANDS               1
MONACO                               1
DIEGO GARCIA                         1
RED SEA / INDIAN OCEAN               1
BRITISH ISLES                        1
ASIA?                                1
OCEAN                                1
ALGERIA                              1
MAYOTTE                              1
PALESTINIAN TERRITORIES              1
 PHILIPPINES                         1
Coast of AFRICA                      1
THE BALKANS                          1
St Helena                            1
GUYANA                               1
INDIAN OCEAN?                        1
BRITISH NEW GUINEA                   1
PUERTO RICO                          1
NORTHERN MARIANA ISLANDS             1
WESTERN SAMOA                        1
ST. MARTIN                           1
GULF OF ADEN                         1
GABON                                1
ANGOLA                               1
RED SEA?                             1
NORTH SEA                            1
CYPRUS                               1
TASMAN SEA                           1
NICARAGUA                            1
MEXICO                               1
Sierra Leone                         1
SWEDEN                               1
CEYLON (SRI LANKA)                   1
MEDITERRANEAN SEA?                   1
KOREA                                1
SAN DOMINGO                          1
NEVIS                                1
Name: Country, dtype: int64

In [29]:
df["country"] = (df["Country"]
                 .str.upper()
                 .str.strip()
                 .str.replace("?",""))